
.header {
    font-size: 50px;
    text-align: center;
}
.form {
    margin-left: 44%;
    
    

}

label {
    font-size: 20px;
}

.break {
    padding: 0.5%
}

.center {
    text-align: center;
    font-family: "Impact";
    font-size: 30px;
}
.title {
    text-align: center;
    font-family: "Impact";
    font-size: 70px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.easy_btn {
    padding: 15px 45px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
    color: #f0ecec;
    font-size: 15px;
  
  }
.med_btn {
    padding: 15px 35px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
    color: #0d0101;
    font-size: 15px;
  
  }
.hard_btn {
    padding: 15px 45px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
    color: #f0ecec;
    font-size: 15px;
  
  }