@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f0b66b;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0b66b;
    --foreground: #0f0d0d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Barlow", serif;
}
