/* CSS for game board */

body {
    font-family: "Impact";
}

.game-title {
  font-size: 50px;
  font: bold;
  text-align: center;
  font-family: "Impact";
}

.game-level {
  font-size: 20px;
  text-align: center;
  font-family: "Impact";
  padding: 10px;
}

.game-status {
  font-size: 20px;
  text-align: center;
  font-family: "Impact";
  padding: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 64px);
  grid-template-rows: repeat(6, 64px);
  gap: 8px;
  background: #3b82f6;
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #e5e7eb; /* empty */
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

.cell-winning {
  width: 56px;
  height: 56px;
  border-radius: 75%;
  background: #e5e7eb;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: 0 0 10px 8px green;
  border: 1px solid green;
}

.cell.ai { background: #ef4444; }
.cell.player { background: #eab308; }

.cell-winning.ai { background: #ef4444; }
.cell-winning.player { background: #eab308; }

.button {
  padding: 15px 25px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin: 4px;
  cursor: pointer;
  color: #e5e7eb;
  background-color: #ef4444;
  font-size: 15px;
  
}

.centered {
  padding-top: 25px;
  display: grid;
  place-items: center;
}

.stat-text{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.stat-text-player{
  position: absolute;
  top: 20;
  right: 20;
  padding: 10px;
}

.stat-text-ai{
  position: absolute;
  top: 40;
  right: 20;
  padding: 10px;
}
